*{
    font-family: verdana;
    margin: 0;
}

body {
    background-color: lightgray;
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    background: #fff;
    flex-wrap: wrap;
    flex-flow: column; /*wyznacza os*/
    height: 600px;
    justify-content: flex-end; /*w gowenj osi*/
    align-items: center; /*w podrzednej osi centruje*/

}

.box {
    width: 100px;
    flex: 0 0 100px; /*flex-flow: column;  tylko kontroluje teraz wysokosc*/

}

.one {
    background: red;
}

.two {
    background: blue;
}

.three {
    background: green;
}