*{
    font-family: verdana;
    margin: 0;
}

body {
    background-color: #eee;
}

.wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.flex-container {
    /* rodzic */
    display: flex;
    background-color: pink;
} 

/* patent bez flexa jak po staremu robiłam */
/* .flex-container:after {
    content: "";
    display: block;
    clear: both;
} */

/* dzieci */
.box {
    height: 100px;
    min-width: 100px;
    /* float: left; */
    /* flex-grow: 1; rosną dzieci równo */

}

/* konkretne dziecko */
.one {
    background-color: red;
    flex-grow: 1; /*to dziecko zajmuje 1/6 calego wolne miejsce*/
}

.two {
    background-color: blue;
    flex-grow: 2;
}

.three {
    background-color: green;
    flex-grow: 3;
}