/* flex-basis - podobne do min-width
z ty, że min-with powoduje pasek poziomo
flex-basis zmniejsza sie tak, zeby się zmiesciło - fajniusie <3
*/

*{
    font-family: verdana;
    margin: 0;
}

body {
    background-color: #eee;
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.flex-container {
    /* rodzic */
    display: flex;
    background-color: pink;
    flex-wrap: wrap;
} 


.box {
    height: 100px;
    /*wrap to the next line tak samo jak min-width*/
    /* flex-basis: 200px;  */
}

/* konkretne dziecko */
.one {
    background-color: red;
    /* flex-basis: 100px; */
    min-width: 500px; /*pojawia sie pasek poziomo*/
    flex-basis: 500px; /*zmneijsza sie tak responsywnie*/
}

.two {
    background-color: blue;
    /* flex-basis: 200px; */
    min-width: 500px; /*pojawia sie pasek poziomo*/
    flex-basis: 500px; /*zmneijsza sie tak responsywnie*/

}

.three {
    background-color: green;
    /* flex-basis: 300px; */
    min-width: 500px; /*pojawia sie pasek poziomo*/
    flex-basis: 500px; /*zmneijsza sie tak responsywnie*/

}